@use "breakpoints.scss" as bp;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1440px + 4rem);
    padding-left: 2rem;
    padding-right: 2rem;

    @include bp.breakpoint(md) {
      max-width: calc(1440px + 6rem);
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

body {
  background: #fafafa;
  @apply font-body;
}

section {
  padding-bottom: 4vw;
  &:first-of-type {
    padding-top: 4vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1,
h2 {
  font-size: 1.3125rem;
  letter-spacing: -0.0375rem;
  line-height: 2.5rem;

  @include bp.breakpoint(lg) {
    font-size: 2rem;
    letter-spacing: -0.0625rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1rem;
  letter-spacing: -0.025rem;
  line-height: 1.5rem;
  font-weight: 500;

  @include bp.breakpoint(lg) {
    font-size: 1rem;
    letter-spacing: -0.025rem;
    line-height: 1.5rem;
  }
}

p {
  font-size: 1rem;

  @include bp.breakpoint(lg) {
    font-size: 1.125rem;
  }
}
